@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body{
    background: #141414;
}
.navbarClass{
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.navbar .navbar-brand{
    color: white;
    font-weight: 600;
    font-size: 1.75rem;
}


.navbar .nav-item a{
    color: white !important;
}

.navbar .nav-item:hover a{
    color: grey !important;
}

.navbar .nav-item a::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: grey;
    transition: width .3s;
}

.navbar .nav-item a:hover::after{
   width: 100%;
   transition: width .3s;
}

.navbar .nav-item > .nav-link.active  {
    color:grey !important;
}

.navbar .nav-item > .nav-link.active::after{
    width: 100%;
    transition: width .3s;
 }




