@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body{
    background: #141414;
}
.navbarClass{
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.navbar .navbar-brand{
    color: white;
    font-weight: bold;
}

.navbar .navbar-brand:hover{
    color: grey;
}

.navbar .nav-item a{
    color: white !important;
}

.navbar .nav-item:hover a{
    color: grey !important;
}

.navbar .nav-item > .nav-link.active  {
    color:grey !important;
}




